[ // This is an array
  ( // This is a class, why no name :(
    entity: 0,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::f32::vec3::Vec3",
            "value": (0.0, 0.0, 0.0),
          },
          "rotation": {
            "type": "glam::f32::scalar::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::f32::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bubble_trouble_clone::logic::player::Player",
        "struct": {
          "speed": {
            "type": "f32",
            "value": 200.0,
          },
        },
      },
    ],
  ),
]
