[ // This is an array
  ( // This is a class, why no name :(
    entity: 0,
    components: [
      {
        "type": "bubble_trouble_clone::logic::player::Player",
        "struct": {
          "speed": {
            "type": "f32",
            "value": 200.0,
          },
        },
      },
    ],
  ),
]
